body {
	background-color: #FFFFFF;
	font-family: Inter, Arial;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.pageHeader {
	background-color: #000000;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 28px;
	padding-bottom: 28px;
}
.desktopBannerMain {
	width: 100%;
}

.mobileBannerMain {
	width: 100%;
}

.infocardTop {
	margin-bottom: 152px;
	padding-top: 80px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.infocardTopDescription {
	margin-left: 32px;
	max-width: 766px;
	padding-right: 124px;
}

.infocardTopTitleFirst {
	font-weight: 400;
	font-size: 32px;
	text-transform: uppercase;
}

.infocardTopTitleSecond {
	font-weight: 500;
	font-size: 48px;
	text-transform: uppercase;
}

.infocardTopParagraph {
	font-weight: 400;
	font-size: 16px;
}

.infocardTopImage {
	margin-bottom: 94px;
}

.infocardMiddleCards {
	background-color: #F0F0F0;
	display: grid;
	grid-template-columns: repeat(3, max-content);
	justify-content: center;
	gap: 20px;
	padding: 74px 0;
}

.infocardMiddleCard {
	display: flex;
	padding: 26px 26px 34px;
	flex-direction: column;
	align-items: center;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.infocardMiddleCardInteriorImage {
	margin-bottom: 26px;
	display: block;
}

.infocardMiddleCardInteriorText {
	max-width: 300px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

.middleBannerDesktop {
	width: 100%;
}

.middleBannerMobile {
	width: 100%
}

.middleInfocardsWrapper {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: center;
	gap:20px;
	position: relative;
	top: -60px;
}

.middleInfocards {
	margin-top: 140px;
	background-color: #00C8FF;
}

.middleInfocard {
	padding: 36px 32px 66px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.middleInfocardInteriorText {
	max-width: 368px;
	font-size: 16px;
	line-height: 24px;
}

.middleInfocardInteriorImage {
	display: block;
	margin-bottom: 14px;
}

.finalInfocard {
	margin-top: 142px;
	margin-bottom: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottomInfocardImage {
	margin-right: 40px;
}

.finalInfocardTitle {
	line-height: 20px;
	font-size: 32px;
}

.finalInfocardText {
	max-width: 550px;
}

.finalInfocardParagraph {
	line-height: 24px;
	font-size: 16px;
}

.pageFooter {
	background-color: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footerIcons {
	padding-top: 38px;
}

.footerText {
	color: #BDBDBD;
	line-height: 14px;
	font-size: 10px;
	text-transform: uppercase;
	padding-top: 16px;
}

@media screen and (max-width: 414px) {
	.desktopBannerMain {display: none;}
	.middleBannerDesktop {display: none;}
}

@media screen and (max-width: 768px) {
	.infocardMiddleCards {grid-template-columns: 1fr; padding: 26px 36px;}
	.middleInfocardsWrapper {grid-template-columns: 1fr; padding: 26px 36px;}
}

@media screen and (min-width: 415px) {
	.mobileBannerMain {display: none;}
	.middleBannerMobile {display: none;}
}

@media screen and (max-width: 998px) {
	.infocardTop {flex-direction: column;}
	.infocardTopTitleFirst {font-size: 20px;}
	.infocardTopTitleSecond {font-size: 28px;}
	.infocardTopParagraph {margin-right: 0px;}
	.infocardTopImage {margin-top: 68px; max-width: 240px; width: 100%;}
	.finalInfocard {flex-direction: column; padding: 80px 0 136px;}
	.bottomInfocardImage {margin: 0 0 50px; width: 100%;}
	.finalInfocardTitle {font-size: 24px; line-height: 26px;}
	.finalInfocardText {padding: 0 26px;}

}

